<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome to BeerTag!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/our-style.css}" href="../static/css/our-style.css" rel="stylesheet"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{../css/styles.css}" href="../static/css/styles.css" rel="stylesheet" />
</head>

<body id="root">
<!--
<div>
   <div class="container-fluid">
        <form th:action="@{/beers}" th:object="${beers}" method="post">
           <div class="row">

                Search input
                <div class="input-group mb-3 col-sm-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Search:</span>
                    </div>
                    <input th:field="*{name}" type="text" class="form-control"
                           placeholder="Enter name, brewery, country..."
                           aria-describedby="basic-addon1">
                </div>

                 Style Select
                <div class="input-group mb-3 col-sm-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="style-select">Style</label>
                    </div>
                    <select th:field="*{styleId}" class="custom-select" id="style-select">
                        <option selected value="-1">Any</option>
                        <option th:each="style : ${beer.getStyle}" th:value="${style.id}" th:text="${style.name}">Weiss
                        </option>
                    </select>
                </div>

                 Country Select
                <div class="input-group mb-3 col-sm-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="country-select">Country</label>
                    </div>
                    <select th:field="*{countryId}" class="custom-select" id="country-select">
                        <option selected value="-1">Any</option>
                        <option value="1">Bulgaria</option>
                        <option value="2">Germany</option>
                        <option value="3">Belgium</option>
                    </select>
                </div>

                 Search button
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-warning">Search!</button>
                </div>
            </div>
        </form>
    </div>
</div>

-->


<h2>Result</h2>
<hr>

<div id="results">

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">

            <div th:each="beer : ${beers}">
                <div class="col-auto mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://media.danmurphys.com.au/dmo/product/767720-1.png"
                             class="beer-img card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${beer.name}">Corona</h5>
                            <p class="card-text">
                            <h3 th:text="${beer.style.name}">Weiss</h3>
                            <h3 th:text="${beer.abv} + '%'">10%</h3>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>